APP_ENV=local
OPENAI_API_KEY='REPLACE_WITH_SERVER_SIDE_PROJECT_KEY'
OPENAI_MODEL='REPLACE_WITH_TESTED_MODEL_ID'
OPENAI_REASONING_EFFORT=medium
DEMO_PASSWORD_HASH='REPLACE_WITH_ARGON2ID_HASH'
ADMIN_PASSWORD_HASH='REPLACE_WITH_DIFFERENT_ARGON2ID_HASH'
AUTH_VERSION='wg4-v1'
DEMO_EXPIRES_AT='REPLACE_WITH_TIMEZONE_AWARE_ISO8601_DATETIME'
APP_LLM_ENABLED=false
CALL_BUDGET_MODE=provider_hard_limit
APP_MAX_LLM_CALLS=600
SESSION_MAX_LLM_CALLS=40
MAX_MODEL_CALLS_PER_ACTION=12
MAX_TOOL_CALLS_PER_ACTION=8
MAX_CONCURRENT_JOBS=3
MAX_PENDING_JOBS=30
MAX_ACTIVE_JOBS_PER_SESSION=1
MAX_CONCURRENT_LLM=3
QUEUE_WAIT_TIMEOUT_SECONDS=300
ACTION_TIMEOUT_SECONDS=90
JOB_STATUS_POLL_SECONDS=2
GLOBAL_RPM=60
GLOBAL_TPM='REPLACE_WITH_VERIFIED_TPM_CAP'
OPENAI_AGENTS_DISABLE_TRACING=1
